body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

#navigation-bar {
    background-image: linear-gradient(to bottom, #004265, #002d4e);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
    color: white;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#nav-links li {
    list-style: none;
}

#nav-links li a {
    color: white;
    text-decoration: none;
}

footer {
    background-image: linear-gradient(to bottom, #004265, #002d4e);
    padding: 20px;
    color: white;
}